version: '3.8'
services:
  backend:
    # Biến ${DOCKERHUB_USERNAME} sẽ được lấy từ file .env
    image: ${DOCKERHUB_USERNAME}/sacabam-be:latest
    container_name: sacabam-backend
    restart: always
    ports:
      - "8080:8080"
    env_file: .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    # Tương tự cho frontend ạ
    image: ${DOCKERHUB_USERNAME}/sacabam-fe:latest
    container_name: sacabam-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend